.userPhoto {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50px;
}

.btnStyle {
    width: 65px;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
    cursor: pointer;
}

.page {
    cursor: pointer;
}